@charset "UTF-8";



html, body  {
	font-family: DungGeunMo;
	line-height: 1.6;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}

header {
    background-color: #333;
    overflow: hidden;
}
.menu-area {
	display: flex;
    justify-content: flex-end;
    width: auto;
    min-width: 800px;
    margin: 5px;
    
}
.nav-area {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
}
.nav-area ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-area li {
    margin-left: 10px; /* Add space between menu items */
}
.nav-area li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.nav-area li a:hover {
    background-color: #575757;
}
.nav-area .admin {
    background-color: #444;
}


/* Footer 스타일 추가 */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}


/* .home-image {
    text-align: center;
    margin-top: 20px;
}

.home-image img {
    max-width: 100%;
    height: auto;
} */
.logo-container {
	display: flex;
    justify-content: flex-end;
    text-align: center;
    background: white;
}

.logo-container img {
	width:300px;
    max-width: 400px;
    height: 90px;
    object-fit: cover;
}
.main-image-container, .home-image-container {
    text-align: center;
    margin-top: 20px;
}

.main-image-container img, .home-image-container img {
    max-width: 100%;
    height: auto;
}

#homeTextArea{
	width: 800px;
}



#wrap{
	min-height: 100vh;
	position:relative;
	width:100%
}

section{
	padding-bottom:110px;
}

@font-face {
     font-family: 'DungGeunMo';
     src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

button,
input,
select,
textarea
{
	font-family: 'DungGeunMo';
}


button,
input[type="button"],
input[type="submit"] {
    font-size: 14px; /* 글꼴 크기 설정 */
    border: solid;
    background-color: LightGreen; /* 배경색 설정 */
    color: #635DDA; /* 글자색 설정 */
    font-weight: bold;
    border-radius: 5px; /* 테두리 둥글기 설정 */
    cursor: pointer; /* 포인터 커서 설정 */
 	margin-left: auto; 
    margin-right: 0px;
 }
