@charset "UTF-8";



html, body  {
	font-family: DungGeunMo;
	line-height: 1.6;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}

header {
    background-color: #333;
    overflow: hidden;
}
.menu-area {
	display: flex;
    justify-content: flex-end;
    width: auto;
    min-width: 800px;
    margin: 5px;
    
}
.nav-area {
    display: flex;
    justify-content: flex-end; 
}
.nav-area ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-area li {
    margin-left: 10px; 
}
.nav-area li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.nav-area li a:hover {
    background-color: #575757;
}
.nav-area .admin {
    background-color: #444;
}

/* 드롭 메뉴 */
.dropdown-content {
	font-size: 13px;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block; /* 호버 시 드롭다운 콘텐츠 표시 */
}



/* Footer 스타일 추가 */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.logo-container {
	display: flex;
    justify-content: flex-end;
    text-align: center;
    background: white;
}

.logo-container img {
	width:300px;
    max-width: 200px;
    height: 110px;
    object-fit: cover;
}

#mainSection{
   padding-bottom:0;
}

.main-image-container{
   margin-top:25px;
   padding-bottom:20px;
   width:100%;
}
.main-image-container img{
   width: 100%;
}

#homeTextArea{
	width: 800px;
}

#wrap{
	min-height: 100vh;
	position:relative;
	width:100%
}

section{
	padding-bottom:110px;
}

@font-face {
     font-family: 'DungGeunMo';
     src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

button,
input,
select,
textarea,
input[file]
{
	font-family: 'DungGeunMo';
}

button,
input[type="button"],
input[type="submit"]
{
    font-size: 14px; /* 글꼴 크기 설정 */
    border: solid;
    background-color: LightGreen; /* 배경색 설정 */
    color: #635DDA; /* 글자색 설정 */
    font-weight: bold;
    border-radius: 5px; /* 테두리 둥글기 설정 */
    cursor: pointer; /* 포인터 커서 설정 */
 	margin-left: auto; 
    margin-right: 0px;
 }