<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>javanos</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistReportServlet</display-name>
    <servlet-name>RegistReportServlet</servlet-name>
    <servlet-class>com.javanos.project.report.member.controller.regist.RegistReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistReportServlet</servlet-name>
    <url-pattern>/RegistReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelReportServlet</display-name>
    <servlet-name>CancelReportServlet</servlet-name>
    <servlet-class>com.javanos.project.report.member.controller.cancel.CancelReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelReportServlet</servlet-name>
    <url-pattern>/CancelReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmReportServlet</display-name>
    <servlet-name>ConfirmReportServlet</servlet-name>
    <servlet-class>com.javanos.project.report.admin.controller.confim.ConfirmReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmReportServlet</servlet-name>
    <url-pattern>/ConfirmReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBoardServlet</display-name>
    <servlet-name>CheckBoardServlet</servlet-name>
    <servlet-class>com.javanos.project.report.admin.controller.confim.CheckBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBoardServlet</servlet-name>
    <url-pattern>/CheckBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAutoBanServlet</display-name>
    <servlet-name>UserAutoBanServlet</servlet-name>
    <servlet-class>com.javanos.project.report.admin.controller.ban.UserAutoBanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAutoBanServlet</servlet-name>
    <url-pattern>/UserAutoBanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBanServlet</display-name>
    <servlet-name>UserBanServlet</servlet-name>
    <servlet-class>com.javanos.project.report.admin.controller.ban.UserBanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBanServlet</servlet-name>
    <url-pattern>/UserBanServlet</url-pattern>
  </servlet-mapping>
</web-app>